<div class="container">
    <section style="background-color: white;margin-bottom: 50px;margin-top: 10px;">
        <div class="row mb-sm-4 justify-content-md-between justify-content-center">
            <div class="text-center ml-5 pt-3">
                <a href="https://kanakinfosystems.com" target="_blank">
                    <img src="logo.png" style="height:55px; width:auto" alt="kanakinfosystems-logo">
                </a>
            </div>
            <div class="text-center" style="color:#113246;margin-left:40px;text-align-last: center;">
                <span class="mb-0 mt-2" style="font-size: 16px;margin-right: 68px;color: #09436d;">Supported Editions</span>
                <div class="d-flex align-items-center" style="margin-left: -80px;margin-top: 10px;">
                    <div class="mb-0 mt-2 text-left"><span style="color:#ffffff;background-color:#7c7bad;border-radius: 5px;padding: 0.5em 0.4em;padding-right: 1.6em;padding-left:1.6em;"> Community </span></div>
                    <div class="mb-0 mt-2 ml-2 text-right"><span style="color:#ffffff;background-color:#007a77;border-radius: 5px;padding: 0.5em 0.4em;padding-right:1.6em;padding-left:1.6em;"> Enterprise </span></div>
                    <div class="mb-0 mt-2 ml-2 text-right"><span style="color:#ffffff;background-color: #6195c2;border-radius: 5px;padding: 0.5em 0.4em;padding-right:1.6em;padding-left: 1.6em;"> Odoo.sh </span></div>
                </div>
            </div>
            <div class="text-center mt-md-0 mr-5 pt-3">
                <span>
                    <img src="odoo-logo.png" style="height:55px; width:120" alt="odoo-logo">
                </span>
            </div>
        </div>
    </section>
    <hr>
    <section style="background-color: white;margin-bottom: 35px;margin-top: 50px;">
        <div style="border: 1px solid;margin-right: 40px;margin-left: 40px;border-color: #dee2e6;">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h3 style="font-size: 30px;padding-top: 30px;color: #23466d;font-weight: 400;">
                        Arabic taxable invoice
                    </h3>
                </div>
            </div>
            <div class="oe_row">
                <div class="text-center" style="border:1px solid;border-color: #e9f5f9;background-color: #d6ecf385;">
                    <p style="font-size:21px;color:#113246;" class="px-sm-4 p-2 pt-4"><b>Arabic taxable invoice</b> Module is the Invoice Receipt Layout which is printed in english as well as Arabic language to ensure customer's ease of readability and displays content in proper format ready to use for commerical purpose.
                    </p>
                </div>
            </div>
            <div class="oe_row">
                <div class="oe_row d-flex flex-wrap">
                    <div class="col-md-auto col-sm-12 d-flex flex-wrap" style="border: 1px solid;background-color: #e9f5f9;border-color: #e9f5f9;margin-top: 62px;margin-bottom: 15px;">
                        <h2 class="col-auto oe_slogan mx-auto" style="color:#113246;text-align: center;border: 1px solid;border-radius: 5px;height: 55px;background-color: white;border-color: white;margin-top: -5px;">Key <span style="color: red;">Features</span> </h2>
                        <div class="row">
                            <div class="col-md-4 mb-3 col-sm-6">
                                <div class="d-flex p-0 border-left shadow-sm bg-white p-3" style="border-top:3px solid #5c77fb">
                                    <span style="display:block; text-align:left" class="d-flex align-items-center w-100">
                                        <i class="fa fa-wrench align-items-center justify-content-center d-flex" style="color:#ffffff;  background-color:#5c77fb; padding: 12px; border-radius:25px; border:5px solid #cfd6fb; margin-right:15px; font-size:14px"></i><span>
                                            <div style="color:#283238; font-family:'Montserrat'; font-weight:700">Easy Install</div>
                                            <small class="text-muted d-block">Fully Importable Module can be installed easily.</small>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 col-sm-12">
                                <div class="d-flex p-0 border-left shadow-sm bg-white p-3" style="border-top:3px solid #5c77fb">
                                    <span style="display:block; text-align:left" class="d-flex align-items-center w-100">
                                        <i class="fa fa-cogs align-items-center justify-content-center d-flex" style="color:#ffffff;  background-color:#5c77fb; padding: 12px; border-radius:25px; border:5px solid #cfd6fb; margin-right:15px; font-size:14px"></i><span>
                                            <div style="color:#283238; font-family:'Montserrat'; font-weight:700">Zero Configurations</div>
                                            <small class="text-muted d-block">This Module can be installed without any configurations.</small>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 col-sm-12">
                                <div class="d-flex p-0 border-left shadow-sm bg-white p-3" style="border-top:3px solid #5c77fb">
                                    <span style="display:block; text-align:left" class="d-flex align-items-center w-100">
                                        <i class="fa fa-clock-o align-items-center justify-content-center d-flex" style="color:#ffffff;  background-color:#5c77fb; padding: 12px; border-radius:25px; border:5px solid #cfd6fb; margin-right:15px; font-size:14px"></i><span>
                                            <div style="color:#283238; font-family:'Montserrat'; font-weight:700">Time Saver</div>
                                            <small class="text-muted d-block">This module saves your important time and human efforts.</small>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 col-sm-12">
                                <div class="d-flex p-0 border-left shadow-sm bg-white p-3" style="border-top:3px solid #5c77fb">
                                    <span style="display:block; text-align:left" class="d-flex align-items-center w-100">
                                        <i class="fa fa-building-o align-items-center justify-content-center d-flex" style="color:#ffffff;  background-color:#5c77fb; padding: 12px; border-radius:25px; border:5px solid #cfd6fb; margin-right:15px; font-size:14px"></i><span>
                                            <div style="color:#283238; font-family:'Montserrat'; font-weight:700">Multi-Company Support</div>
                                            <small class="text-muted d-block">This application fluently work with multiple company.</small>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <div style="padding: 15px 0px;" id="loempia_tabs">
            <div style="border:1px solid; height:70px; margin-left:140px; margin-right:148px; border-color:#dee2e6">
                <ul style="border:none; background-color:unset; margin:14px auto" data-tabs="tabs" class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#113246; margin-right:10px; border:1px solid #ddd">
                        <a href="#pills-config" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:500; font-size:15px; color:#FFFFFF; border:1px solid transparent; background-color: #113246;padding: 10px;">
                            <img src="//apps.odoocdn.com/apps/assets/14.0/pizza_modifiers/Configuration &amp; Setup.png?7f256cb" style="width:25px; margin-top:-4px; margin-right:4px">SCREENS</a>
                    </li>
                    <li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#113246; margin-right:10px; border:1px solid #ddd">
                        <a href="#pills-release" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:500; font-size:15px; color:#FFFFFF; border:1px solid transparent; background-color: #113246;padding: 10px;">
                            <img src="//apps.odoocdn.com/apps/assets/14.0/pizza_modifiers/Release Notes.png?7f256cb" style="width:25px; margin-top:-4px; margin-right:4px">RELEASE NOTES</a>
                    </li>
                    <li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#113246; margin-right:10px; border:1px solid #ddd">
                        <a href="#pills-faq" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:500; font-size:15px; color:#FFFFFF; border:1px solid transparent; background-color: #113246;padding: 10px;">
                            <img src="//apps.odoocdn.com/apps/assets/14.0/pizza_modifiers/FAQ'S.png?7f256cb" style="width:25px; margin-top:-4px; margin-right:4px">FAQ'S</a>
                    </li>
                    <li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#113246; border:1px solid #ddd">
                        <a href="#pills-support" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:500; font-size:15px; color:#FFFFFF; border:1px solid transparent; background-color: #113246;padding: 10px;">
                            <img src="//apps.odoocdn.com/apps/assets/14.0/pizza_modifiers/Support.png?7f256cb" style="width:25px; margin-top:-4px; margin-right:4px">SUPPORT</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent" style="border: 1px solid;margin-left: 75px;margin-right: 75px;margin-top: -33px;border-color: #dee2e6;">
                <div class="px-3 pt-1 tab-pane fade active show" id="pills-config" role="tabpanel" aria-labelledby="pills-config-tab" style="margin-top: 30px;">
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="background-color: #ffffff;">
                                    <span class="oe_slogan" style="color: #e93a1d;font-size: 35px;font-weight: 500;">Add Company Details</span>
                                    <ul class="list-unstyled" style="font-size:17px; border-radius:9px; padding-top:4px">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Add company Name, Header, Footer and company details in arabic or english language</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row justify-content-center">
                                    <img class="col-md-auto" src="06.png" style="width: 99%;margin-bottom:inherit;">
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="background-color: #ffffff;">
                                    <span class="oe_slogan" style="color: #e93a1d;font-size: 35px;font-weight: 500;">Create New Invoice</span>
                                </div>
                                <div class="row justify-content-center">
                                    <img class="col-md-auto" src="01.png" style="width: 99%;margin-bottom:inherit;">
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="background-color: #ffffff;">
                                    <span class="oe_slogan" style="color: #e93a1d;font-size: 35px;font-weight: 500;"></span>
                                    <ul class="list-unstyled" style="font-size:17px; border-radius:9px; padding-top:4px">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Select or create a new customer</span>
                                        </li>
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Add product in invoice lines</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row justify-content-center">
                                    <img class="col-md-auto" src="02.png" style="width: 99%;margin-bottom:inherit;">
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="background-color: #ffffff;">
                                    <span class="oe_slogan" style="color: #e93a1d;font-size: 35px;font-weight: 500;"></span>
                                    <ul class="list-unstyled" style="font-size:17px; border-radius:9px; padding-top:4px">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Now go to Other Info page</span>
                                        </li>
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Enter Payment Reference Number and save the invoice</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row justify-content-center">
                                    <img class="col-md-auto" src="03.png" style="width: 99%;margin-bottom:inherit;">
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="background-color: #ffffff;">
                                    <span class="oe_slogan" style="color: #e93a1d;font-size: 35px;font-weight: 500;"></span>
                                    <ul class="list-unstyled" style="font-size:17px; border-radius:9px; padding-top:4px">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Now click on print button and select Taxable Invoice option</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row justify-content-center">
                                    <img class="col-md-auto" src="04.png" style="width: 99%;margin-bottom:inherit;">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="background-color: #ffffff;">
                                    <span class="oe_slogan" style="color: #e93a1d;font-size: 35px;font-weight: 500;">Invoice Report</span>
                                    <ul class="list-unstyled" style="font-size:17px; border-radius:9px; padding-top:4px">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px; color:#113246; padding-right:9px"></i><span style="padding-bottom:3px">Invoice Report printed in english as well as Arabic language</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row justify-content-center">
                                    <img class="col-md-auto" src="05.png" style="width: 99%;margin-bottom:inherit;">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="px-3 pt-1 tab-pane fade" id="pills-release" role="tabpanel" aria-labelledby="pills-release-tab" style="margin-top: 22px;">
                    <section class="oe_container px-2" style="background-color: white;">
                        <div class="s_faq mt32 mb32" style="background-color:transparent !important;">
                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                <div class="panel-group" style="margin-bottom:2%;">
                                    <div class="panel panel-default overflow-hidden shadow" style="margin-bottom: -10px;">
                                        <div class="panel-heading mt0 alert" style="border:1px solid transparent !important;margin:0;">
                                            <h3 class="panel-title mb0"><a class="collapsed" style="font-family:Roboto; font-weight:500; color:#091E42; font-size:20px" data-toggle="collapse" href="#collapse_1" aria-expanded="false">
                                                    <span style=""><span style="color: #e31c2f;">V1.0</span><span style="color: #092a74;"> - December 24th, 2021</span></span>
                                                </a></h3>
                                        </div>
                                        <div id="collapse_1" class="panel-collapse collapse" style="">
                                            <div class="mb16">
                                                <div class="col-lg-12 col-md-12 ">
                                                    <ol style="padding:0 0 0 40px;margin:0px 0 10px 0;color: #0a2a67eb;">
                                                        <li>
                                                            <p>Converted into importable module</p>
                                                        </li>
                                                        <li>
                                                            <p>Optimized code.</p>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="px-3 pt-1 tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab" style="margin-top: 70px;">
                    <section>
                        <div class="card-body p-0">
                            <div class="s_faq mx-2 mx-md-5 mb-5" style="background-color:#fefefe">
                                <div id="accordion">
                                    <div class="card shadow mb-2" style="border: 1px solid;border-color: #dde1e5;margin-left: -65px;margin-right: -65px;">
                                        <div class="card-header pb-0 py-3 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none">
                                            <div style="font-size:1.4rem; font-weight:600; color:#05376d" class="pr-5">Q Do we need to restart the server for installation?
                                            </div>
                                            <a style="width:48px; height:40px; line-height:11px; background-color:rgba(5, 55, 109, 0); border-radius:2px; padding:0; font-size:23px" data-toggle="collapse" class="card-link collapsed" href="#faqZero" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqZero" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size:1.2rem;color: #05376ddb;">
                                                    No, this module can directly be imported into server without any interruptions.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-2" style="border: 1px solid;border-color: #dde1e5;margin-left: -65px;margin-right: -65px;">
                                        <div class="card-header pb-0 py-3 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none">
                                            <div style="font-size:1.4rem; font-weight:600; color:#05376d" class="pr-5">Q Is this app compatible with Odoo Enterprise?
                                            </div>
                                            <a style="width:48px; height:40px; line-height:11px; background-color:rgba(5, 55, 109, 0); border-radius:2px; padding:0; font-size:23px" data-toggle="collapse" class="card-link collapsed" href="#faqOne" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqOne" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size:1.2rem;color: #05376ddb;">
                                                    Yes, our app works with Odoo Enterprise as well as Community.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-2" style="border: 1px solid;border-color: #dde1e5;margin-left: -65px;margin-right: -65px;">
                                        <div class="card-header pb-0 py-3 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none">
                                            <div style="font-size:1.4rem; font-weight:600; color:#05376d" class="pr-5">Q Is this app compatible with Windows or Ubuntu?
                                            </div>
                                            <a style="width:48px; height:40px; line-height:11px; background-color:rgba(5, 55, 109, 0); border-radius:2px; padding:0; font-size:23px" data-toggle="collapse" class="card-link collapsed" href="#faqThree" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqThree" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size:1.2rem;color: #05376ddb;">
                                                    Yes, our app works with Windows or Ununtu operating system.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-2" style="border: 1px solid;border-color: #dde1e5;margin-left: -65px;margin-right: -65px;">
                                        <div class="card-header pb-0 py-3 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none">
                                            <div style="font-size:1.4rem; font-weight:600; color:#05376d" class="pr-5">Q Does this app require any additional configuration?
                                            </div>
                                            <a style="width:48px; height:40px; line-height:11px; background-color:rgba(5, 55, 109, 0); border-radius:2px; padding:0; font-size:23px" data-toggle="collapse" class="card-link collapsed" href="#faqFour" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqFour" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size:1.2rem;color: #05376ddb;">
                                                    No,you just need to install the module and add group to user.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="px-3 pt-1 tab-pane fade" id="pills-support" role="tabpanel" aria-labelledby="pills-support-tab" style="margin-top: 80px;">
                    <section style="text-align: center;background-color: white;margin-bottom: 30px;">
                        <div style="background-color:white">
                            <div style="display:inline-block;margin-right:10px;">
                                <a href="mailto:sales@kanakinfosystems.com" target="_blank" style="width: 160px;height: 111px;display:inline-block;border:1px solid;border-color:#dee2e6;border-radius:3%;text-align:center;padding:0px;">
                                    <div style="margin-left: -1px;margin-top: 14px;">
                                        <img src="email.png" width="160px" style="margin-top: -32px;">
                                    </div>
                                </a>
                            </div>
                            <div style="display:inline-block; margin-right:10px">
                                <a href="skype:kanakinfosystems?chat" target="_blank" style="width:160px;height: 129px;display:inline-block;border-radius:3%;border:1px solid;border-color:#dee2e6;text-align:center;padding:30px;">
                                    <div>
                                        <img src="skype.png" width="160px" style="margin-left: -31px;margin-top: -31px;">
                                    </div>
                                </a>
                            </div>
                            <div style="display:inline-block; margin-right:10px">
                                <a href="wa.me/9818108884" target="_blank" style="width:160px;height: 129px;display:inline-block;border-radius:3%;border:1px solid;border-color:#dee2e6;text-align:center;padding:30px;">
                                    <div>
                                        <img src="whatsapp.png" width="160px" style="margin-left: -31px;margin-top: -31px;">
                                    </div>
                                </a>
                            </div>
                            <div style="display:inline-block">
                                <a href="kanakinfosystems.com/support/ticket/submit" target="_blank" style="width:160px;height: 129px;display:inline-block;border-radius:3%;border:1px solid;border-color:#dee2e6;text-align:center;padding:30px;">
                                    <div>
                                        <img src="support-ticket.png" width="160px" style="margin-left: -31px;margin-top: -31px;">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="oe_row">
                            <div class="text-center">
                                <p style="border: 1px solid;width: 18cm;margin-left: 124px;border-color:#dee2e6;margin-top: 45px;"></p>
                                <div class="text-center">
                                    <span class="mb-2 mt-2" style="font-size: 35px;font-weight: 500;color: #23466d;">FREE 3 MONTHS <span style="color:red;">SUPPORT</span></span>
                                </div>
                                <p style="border-bottom: 2px solid;width: 18cm;margin-left: 124px;border-color:#dee2e6;margin-top: 2px;"></p>
                                <p style="font-size:21px;color: #23466d;font-weight:300;" class="px-sm-4 p-2 pt-4"> Kanak will provide free 3 months support for bug fixes, any doubts or queries, installation, configuration support or any types of issues related related to this module.<br></p>
                                <div style="border: 1px solid;height: 55px;padding: 10px;width: 550px;margin-left: 197px;border-color: #dee2e6;border-radius: 5px;background-color: #f8f9fa;">
                                    <span style="color:#113246;font-size:20px;font-weight:600;">NOTE:</span>
                                    <span style="color: #113246;font-size:20px;font-weight:300;"><b>This module do not required extra configuration.</b></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: white;margin-bottom: 26px;margin-top: 50px;">
        <div style="border: 1px solid;margin-right: 75px;margin-left: 75px;border-color: #dee2e6;">
            <div style="background-color: white;margin-bottom: 40px;text-align: center;">
                <div class="text-center mt-4 mb-4">
                    <span class="mb-2 mt-2" style="font-size: 35px;font-weight: 500;color: #23466d;">Suggested<span style="color:red;"> Apps</span></span>
                </div>
                <div class="row d-flex flex-wrap" style="margin-bottom: 50px;">
                    <div class="col-md-4 col-sm-12 align-items-center" style="display:inline-block;">
                        <a href="https://apps.odoo.com/apps/modules/14.0/kanak_sale_barcode_scan/" target="_blank" style="width: 164px;height: 82px;display:inline-block;border: 1px solid;border-color: #dee2e6;border-radius: 3%;text-align:center;">
                            <div>
                                <img src="sale_barcode_scan.png" width="164px">
                            </div>
                        </a>
                        <span style="font-size: 16px;color: #23466d;padding-top: 30px;display:block;font-weight: 500;line-height: 16px;">Sale Barcode Scan</span>
                    </div>
                    <div class="col-md-4 col-sm-12 align-items-center" style="display:inline-block;">
                        <a href="https://apps.odoo.com/apps/modules/14.0/sale_quatation_multi_confirmation_kanak/" target="_blank" style="width: 164px;height: 82px;display:inline-block;border-radius: 3%;border: 1px solid;border-color: #dee2e6;text-align:center;">
                            <div>
                                <img src="sale_quotation_multi_confirmation.png" width="164px">
                            </div>
                        </a>
                        <span style="font-size: 16px;color: #2d4d73;padding-top: 30px;display:block;font-weight: 500;line-height:16px;">Sale Quotation<br>Multi Confirmation</span>
                    </div>
                    <div class="col-md-4 col-sm-12 align-items-center" style="display:inline-block;">
                        <a href="https://apps.odoo.com/apps/modules/14.0/sale_quatation_multi_cancellation_kanak/" target="_blank" style="width: 164px;height: 82px;display:inline-block;border-radius: 3%;border: 1px solid;border-color: #dee2e6;text-align:center;">
                            <div>
                                <img src="sale_quotation_multi_cancellation.png" width="164px">
                            </div>
                        </a>
                        <span style="font-size: 16px;color: #335277;padding-top:30px;display:block;font-weight: 500;line-height:16px;">Sale Quotation<br>Multi Cancellation</span>
                    </div>
                    <div class="col-md-4 col-sm-12 align-items-center" style="display:inline-block;">
                        <a href="https://apps.odoo.com/apps/modules/14.0/order_history/" target="_blank" style="width: 164px;height: 82px;display:inline-block;border-radius: 3%;border: 1px solid;border-color: #dee2e6;text-align: center;">
                            <div>
                                <img src="sale_order_history.png" width="164px">
                            </div>
                        </a>
                        <span style="font-size: 16px;color: #335277;padding-top:30px;display:block;font-weight: 500;line-height:16px;">Sale Order History</span>
                    </div>
                    <div class="col-md-4 col-sm-12 align-items-center" style="display:inline-block;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/sale_report_extension/" target="_blank" style="width: 164px;height: 82px;display:inline-block;border-radius: 3%;border: 1px solid;border-color: #dee2e6;text-align:center;">
                            <div>
                                <img src="sale_report_extension.png" width="164px">
                            </div>
                        </a>
                        <span style="font-size: 16px;color: #335277;padding-top:30px;display:block;font-weight: 500;line-height:16px;">Sale Report Extension</span>
                    </div>
                    <div class="col-md-4 col-sm-12 align-items-center" style="display:inline-block;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/sale_product_size_matrix_knk/" target="_blank" style="width: 164px;height: 82px;display:inline-block;border-radius: 3%;border: 1px solid;border-color: #dee2e6;text-align:center;">
                            <div>
                                <img src="sale_product_size_matrix.png" width="164px">
                            </div>
                        </a>
                        <span style="font-size: 16px;color: #335277;padding-top: 46px;display:block;font-weight: 500;line-height:16px;">Sale Product Size Matrix</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="text-align: center;background-color: white;margin-bottom: 30px;">
        <div class="text-center mt-5 mb-5">
            <span class="mb-2 mt-2" style="font-size: 35px;font-weight: 500;color: #23466d;">Our<span style="color:red;"> Services</span></span>
        </div>
        <div style="background-color: white;margin-bottom: 45px;">
            <div style="display:inline-block;margin-right: 10px;">
                <a href="kanakinfosystems.com/hire-odoo-developer" target="_blank" style="display:inline-block;text-align:center;padding: 0px;">
                    <div>
                        <img src="Hire-Odoo-Developer.png" width="230px">
                    </div>
                </a>
            </div>
            <div style="display:inline-block;margin-right: 10px;">
                <a href="kanakinfosystems.com/odoo-customization-implementation-services" target="_blank" style="display:inline-block;text-align:center;">
                    <div>
                        <img src="Odoo-Customization.png" width="230px">
                    </div>
                </a>
            </div>
            <div style="display:inline-block;margin-right: 10px;">
                <a href="kanakinfosystems.com/odoo-development-services" target="_blank" style="display:inline-block;text-align:center;">
                    <div>
                        <img src="Odoo-Development.png" width="230px">
                    </div>
                </a>
            </div>
            <div style="display:inline-block;">
                <a href="kanakinfosystems.com/odoo-installation-services" target="_blank" style="display:inline-block;text-align: center;">
                    <div>
                        <img src="Odoo-Installation.png" width="230px">
                    </div>
                </a>
            </div>
        </div>
        <div style="background-color: white;">
            <div style="display:inline-block;margin-right: 10px;">
                <a href="kanakinfosystems.com/odoo-integration-services" target="_blank" style="display:inline-block;text-align:center;">
                    <div>
                        <img src="Odoo-Integration.png" width="230px">
                    </div>
                </a>
            </div>
            <div style="display:inline-block;margin-right: 10px;">
                <a href="kanakinfosystems.com/odoo-resources" target="_blank" style="display:inline-block;text-align:center;">
                    <div>
                        <img src="Odoo-Resources.png" width="230px">
                    </div>
                </a>
            </div>
            <div style="display:inline-block;margin-right: 10px;">
                <a href="kanakinfosystems.com/odoo-themes" target="_blank" style="display:inline-block;text-align:center;">
                    <div>
                        <img src="Odoo-Themes.png" width="230px">
                    </div>
                </a>
            </div>
            <div style="display:inline-block;">
                <a href="kanakinfosystems.com/odoo-training" target="_blank" style="display:inline-block;text-align: center;">
                    <div>
                        <img src="Odoo-Training.png" width="230px">
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>